apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: todo-backend
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
